@import "_setting.scss";

img {
  display: block;
  width: 100%;
  margin: $gap 0 $gap 0;
}
li.task-item {
  background-color: white;
  padding: $gap;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    margin-bottom: $gap;
  }
  img {
    display: block;
    width: 100%;
    margin: $gap 0 $gap 0;
  }
}
