/* eslint-disable */
@import "~bootstrap/scss/bootstrap";
@import "_setting.scss";

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}

.trello-master {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  width: fit-content;
  min-width: 100vw;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
}

header {
  padding-left: 15px;
  height: 36;
  line-height: 36px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
footer {
  padding-left: 15px;
  height: 36;
  line-height: $line-height;
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  max-height: 500px;
}
li {
  background-color: white;
  padding: $gap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    margin-bottom: $gap;
  }
}
