@import "_setting.scss";

.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100%- #{$gap});
  margin-left: $gap;
  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }
  header {
    cursor: pointer;
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bolder;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    display: flex;
    .trello-content-edit-table {
      background-color: inherit;
      border: none;
      font-size: inherit;
      cursor: pointer;
      &:hover {
        background-color: white;
        border: 1px solid #0079bf;
      }
    }
    .column-title {
      flex: 90%;
    }
    .column-dropdown-actions {
      flex: 10%;
      button.dropdown-btn {
        border: none;
        padding: 0 $gap;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $list-bg-color;
        &:after {
          content: "...";
          border: none;
          vertical-align: 1.255em;
        }
        &:hover {
          background-color: darken($color: $list-bg-color, $amount: 10);
        }
      }
      .dropdown-menu {
        padding: 0;
        min-width: 200px;
        .dropdown-item {
          padding: 0.1rem 1rem;
          font-size: 14px;
          &:not(:last-child) {
            border-bottom: 1px solid darken($color: $list-bg-color, $amount: 10);
          }
        }
      }
    }
  }
  footer {
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: #888;
    .footer-actions {
      margin-left: $gap;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
  .card-list {
    margin: 0;
    max-height: calc(100%-#{$column-header-height}-#{$column-footer-height});
    li.card-item {
      background-color: white;
      padding: $gap;
      border-radius: 1px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      &:not(:last-child) {
        margin-bottom: $gap;
      }
      img {
        display: block;
        width: 100%;
        margin: $gap 0 $gap 0;
      }
    }
    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
}
